/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header{
 background-color: rgba(34, 49, 52, 0.9);
 width:100%;
 height:65px;
 position:fixed;
 top:0px;
 z-index:10;
}

/* Write your code below */
.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size:cover;
  padding-top:180px;
  padding-bottom:100px;
  text-align: center;
}

.container{
  width: 1170px;
  margin: 0 auto;
  
  
  
}

.container h1{
  color:white;
  opacity:0.7;
  font-size:45px;
  margin-bottom:10px;

}

.container h2{
  color:white;
  opacity:0.7;
  letter-spacing:5px;
  font-size:45px;
  padding-bottom:10px;
   margin: 0 auto;
}

.container p{
  color:white;
  opacity:0.7;
  padding-top:3px;
}

.btn{
  padding:12px 24px;
  border-radius:4px;
  color:white;
  display:inline-block;
  opacity: 0.8;
  
}

.btn:hover{
  opacity:1;
}

.signup{
  background-color:#239b76;
}

.fb{
  background-color:#3b5998;
  margin-right: 10px;
}

.twitter{
  background-color:#55acee;
}

.btn-wrapper{
  margin:20px 0px;
}

.btn-wraper p{
  color:white;
  padding:10px;
}
.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  background-color:rgba(255, 255, 255, 0.3);
  padding-right:25px;
  padding-left:25px;
  line-height:65px;
}

.header-right:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.login{
  color:white;
}
